<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#home" class="nav-link px-2"><pre>// home</pre></a></li>
        <li><a href="#about" class="nav-link px-2"><pre>// about</pre></a></li>
        <li><a href="#skills" class="nav-link px-2"><pre>// skills</pre></a></li>
        <li><a href="#works" class="nav-link px-2"><pre>// works</pre></a></li>
        <!-- <li><a href="#experiences" class="nav-link px-2"><pre>// experiences</pre></a></li> -->
      </ul>

      <div class="col-md-3 text-end">
        <a href="../../assets/images/Zahra-Latif-frontend.pdf" target="_blank"><button type="button" class="btn btn-primary">RESUME</button></a>
      </div>
    </header>
  </div>